
#result{
    text-align: center;
    padding: auto;
}
.pillar{
    display: inline-block;
    background-color: blue;
    margin-top: 10px;
    margin-left: 5px;
    height: 100px;
    width: 20.3px;
    transition: background-color 0.5s;
}
.pillar:hover{
    background-color: purple;
}

.pivot{
    background-color: black;
}

.changeToYellow{
    background-color: yellow;
}

.changeToBlue{
    background-color: blue;
}
.changeHeight{
    
}